%h2 Permissions for #{ @user.email }
= form_tag update_user_permissions_path, method: :put do
	%table
		%thead
			%th Project
			- permissions.each do |name, text|
				%th= text
		%tbody
			- @projects.each do |project|
				%tr{ class: cycle("odd", "even") }
				%td= project.name
				- permissions.each do |name, text|
					%td
						= check_box_tag "permissions[#{project.id}][#{name}]"," ", 
							@ability.can?(name.to_sym, project)
	= submit_tag "Update"