!!!
%html
	%head
		%title
			- if content_for?(:title)
				= yield(:title)
			- else
				Ticketee
		= stylesheet_link_tag    "application", :media => "all"
		%style
			- @states.each do |state|
				\.state_#{ state.name.parameterize } {
				background: #{ state.background };
				color: #{ state.color };
				}
		= javascript_include_tag "application"
		= csrf_meta_tags
	%body
		- flash.each do |key, value|
			.flash{:id => key}
				=value
		%h1= link_to "Ticketee", root_path
		%nav
			- if user_signed_in?
				Signed in as #{ current_user.email }
				= link_to "Sign out", destroy_user_session_path, method: :delete
				= admins_only do
					= link_to "New Project", new_project_path
					= link_to "Admin", admin_root_path
			- else
				= link_to "Sign up", new_user_registration_path
				= link_to "Sign in", new_user_session_path
		= yield